body {
  display: flex;
  box-sizing: border-box;
  padding: 0;
  background-color: black;
  margin: 10px;
  flex-direction: row;
  justify-content: space-around;
}

.pip {
  background-color: black;
  border: 1px solid black;
  border-radius: 100%;
  width: 22px;
  height: 22px;
  margin: 5px;
}

.first-face {
  height: 100px;
  width: 100px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-face {
  height: 100px;
  width: 100px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.second-face > .pip:nth-of-type(2) {
  align-self: flex-end;
}

.third-face {
  height: 100px;
  width: 100px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.third-face > .pip:nth-of-type(2) {
  align-self: center;
}

.third-face > .pip:nth-of-type(3) {
  align-self: flex-end;
}

.fourth-face {
  height: 100px;
  width: 100px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
}

.fourth-face > .column {
  justify-content: space-between;
}

.fifth-face {
  height: 100px;
  width: 100px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.fifth-face > .column {
  justify-content: space-between;
}

.fifth-face > .column:nth-of-type(2) {
  justify-content: center;
}

.sixth-face {
  height: 100px;
  width: 100px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}
